<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Airline application</h1>
<table border="1">
    <th>Number</th>
    <th>From</th>
    <th>To</th>
    <th>DepartureDate</th>
    <th>DepartureTime</th>
    <th>ArrivalTime</th>
    <th>AvailableSeats</th>



    <tr th:each="flight:${updatedFlights}">
        <td th:text="${flight.number}"></td>
        <td th:text="${flight.source}"></td>
        <td th:text="${flight.destination}"></td>
        <td th:text="${flight.departureDate}"></td>
        <td th:text="${flight.departureTime}"></td>
        <td th:text="${flight.arrivalTime}"></td>
        <td th:text="${flight.availableSeats}"></td>
        </td>
    </tr>
</table>
</body>
</html>