<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Airline application</h1>
    <h2 th:text="${message}"></h2>
    <form action="#" th:action="@{/search}" th:object="${searchForm}" method="post">
        <label for="from">From</label>
        <input id="from" name="from" required="required" />
        <br />
        <br />
        <label for="to">To</label>
        <input id="to" name="to" required="required" />
        <br />
        <br />
        <label for="numberOfPassengers">Number of Passengers</label>
        <input id="numberOfPassengers" name="numberOfPassengers" required="required" />
        <br />
        <br />
        <input type="date" name="date" id="date" />
        <input type="submit" value="Search" />
    </form>
</body>

</html>