<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
<h1>Airline application</h1>
<table border="1">
    <th>Number</th>
    <th>From</th>
    <th>To</th>
    <th>DepartureDate</th>
    <th>DepartureTime</th>
    <th>ArrivalTime</th>
    <th>AvailableSeats</th>
    <th>EconomicSeats</th>
    <th>EconomicFare</th>
    <th>SecondClassSeats</th>
    <th>SecondClassFare</th>
    <th>FirstClassSeats</th>
    <th>FirstClassFare</th>
    <th>Class</th>
    <th>Number of Passengers</th>
    <th>Book</th>



    <tr th:each="flight:${flights}">
        <td th:text="${flight.number}"></td>
        <td th:text="${flight.source}"></td>
        <td th:text="${flight.destination}"></td>
        <td th:text="${flight.departureDate}"></td>
        <td th:text="${flight.departureTime}"></td>
        <td th:text="${flight.arrivalTime}"></td>
        <td th:text="${flight.availableSeats}"></td>
        <td th:text="${flight.economicSeats}"></td>
        <td th:text="${flight.getEconomicFare()}"></td>
        <td th:text="${flight.secondClassSeats}"></td>
        <td th:text="${flight.getSecondClassFare()}"></td>
        <td th:text="${flight.firstClassSeats}"></td>
        <td th:text="${flight.getFirstClassFare()}"></td>
        <form action="#" th:action="@{'/book/'+${flight.number}}" method="post">
            <td><select name="classType" id="classType">
                <option th:value="economic">Economic</option>
                <option th:value="second">Second</option>
                <option th:value="first">First</option>
            </select>

            </td>
            <td><input id="numberOfPassengers" name="numberOfPassengers" required="required"/></td>
            <td><input type="submit" th:value="book" id="book" name="book">

        </form>
        </td>
    </tr>
</table>
</body>

</html>