<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
<h1>Airline application</h1>
<table border="1">
    <th>Number</th>
    <th>From</th>
    <th>To</th>
    <th>Departure Date</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Seat Available</th>
    <th>Class Type</th>
    <th>Number of Passengers</th>
    <th>Fare</th>
    <th>Total Fare</th>
    <th>Book</th>



    <tr th:each="flight:${flights}">
        <td th:text="${flight.number}"></td>
        <td th:text="${flight.source}"></td>
        <td th:text="${flight.destination}"></td>
        <td th:text="${flight.departureDate}"></td>
        <td th:text="${flight.departureTime}"></td>
        <td th:text="${flight.arrivalTime}"></td>
        <td th:if="${classType} == 'economic'" th:text="${flight.economicClassSeats}"></td>
        <td th:if="${classType} == 'first'" th:text="${flight.firstClassSeats}" ></td>
        <td th:if="${classType} == 'second'" th:text="${flight.secondClassSeats}"></td>
        <td th:text="${classType}"></td>
        <td th:text="${passengerCount}"></td>

        <td th:if="${classFare} == 'economic'" th:text="${flight.getEconomicClassFare()}"></td>
        <td th:if="${classFare} == 'first'" th:text="${flight.getFirstClassFare()}" ></td>
        <td th:if="${classFare} == 'second'" th:text="${flight.getSecondClassFare()}"></td>
        <td th:text="${totalFare}"></td>

        <form action="#" th:action="@{'/book/'+${flight.number}+'/'+${classType}+'/'+${passengerCount}}" method="post">
            <td><input type="submit" th:value="book" id="book" name="book">

        </form>
        </td>
    </tr>
</table>
</body>

</html>