<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Airline application</h1>
<table border="1">
    <th>Number</th>
    <th>From</th>
    <th>To</th>
    <th>DepartureDate</th>
    <th>DepartureTime</th>
    <th>ArrivalTime</th>
    <th>AvailableSeats</th>
    <th>Number of Passengers</th>
    <th>Book</th>



    <tr th:each="flight:${flights}">
        <td th:text="${flight.number}"></td>
        <td th:text="${flight.source}"></td>
        <td th:text="${flight.destination}"></td>
        <td th:text="${flight.departureDate}"></td>
        <td th:text="${flight.departureTime}"></td>
        <td th:text="${flight.arrivalTime}"></td>
        <td th:text="${flight.availableSeats}"></td>
        <form action="#" th:action="@{'/book/'+${flight.number}}"  method="post">
            <td><input id="numberOfPassengers" name="numberOfPassengers" required="required" /></td>
             <td> <input type="submit" th:value="book" id="book" name="book"></form>

        </td>
    </tr>
</table>
</body>

</html>